<% include partials/_header %>
<div class="container">
        <div class="row">
          <div class="col-md-12 text-center mx-auto">
            <h1 style="color: white;">Elecciones 2019</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <h3>Presidente/Viceprecidente</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <img src="../images/graph_presidente.png" alt="Grafica presidente" width="400px" height="400px">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <h3>Diputados Listado Nacional</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <img src="../images/graph_diputados_nacional.png" alt="Grafica presidente" width="400px" height="400px">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <h3>Diputados Listado Distrital</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <img src="../images/graph_diputados_distritales.png" alt="Grafica presidente" width="400px" height="400px">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <h3>Alcalde</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <img src="../images/graph_alcalde.png" alt="Grafica presidente" width="400px" height="400px">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <h3>Parlacen</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <img src="../images/graph_parlacen.png" alt="Grafica presidente" width="400px" height="400px">
          </div>
        </div>
      </div>
      <% include partials/_header %>