<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elecciones 2019 - Guatemala</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <style>
        body{
            background-color: #0098FB !important;
        }
        h3, img{
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>